html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

section {
    height: 100vh;
    width: 100vw;
}


#socialmedia {
    background-color: grey;
}

nav #mainnav{
    list-style-type: none;
    display: flex;
    justify-content: center;

    
}

a {
    text-decoration: none;
}

li {
    padding-right: 1rem;
    margin-top: 2.5rem;
}

#cabeza {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
 

}

#encabezado{
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    line-height:0.7;
    position: relative;
    left: 33%;
    margin-top: -5.5%;
}

#break::before{
    content: "\a";
    white-space: pre;
   
}

#segundo {
    line-height:1.6;
}


.camuritoentero {

position: relative;
left: 45%;

}

#home {
    background-color:deeppink;
    height: 146.2vh;

}

#skills {
    border: red 1px solid;
    margin-top: 4%;
    /*height: 104vh;*/
   

}

#skillslist ul{
    list-style-type: none;
    border: red 1px solid;
    width: 50vw;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

.first {
    width: 8em;
    display: inline-block;
    text-align: end;
}

.derecha {
    width: 14rem;
    display: inline-block;
    text-align: end;
    margin-left: -40px;
}

#skillsheader {
    text-align: center;
}

li#indesign {
    width: 10px;
    text-align: right;
    border: 1px solid black;

}










